// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;
$mainfont: 'Helvetica';

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

.Header {
  @include white-text-black-bg;
  font-family: $mainfont;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;

    h1 {
      margin: 10px;
      font-size: large;
    }
  }
}

img {
  height: 10rem;
  width: 10rem;
  border-radius: 100px;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 10rem;
  max-width: 7rem;
  margin: 5rem auto;
  input[type='submit'] {
    align-self: flex-start;
  }
}